@*Gives the option to alter the password in case the user forgot the password*@

@{
    ViewBag.Title = "Password conformation forgotten";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check you email inbox to reset your password.
    </p>
</div>

