@model Byte[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div id="content">
            
                @if (ViewBag.message != null)
                {
                    <h4>@ViewBag.message</h4>
                }
           

            @{
                if (Model != null)
                {
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" width="300" height="300"/>
                }
            }
        </div>
    </div>

    
</body>
</html>