@{
    ViewBag.Title = "Home Page";
}
<style>

    body {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Images/woman-wearing-purple-shirt-holding-smartphone-white-sitting-826349.jpg");
        background-size: cover;
    }
    .jumbotron {
        background: rgba(232, 232, 232, 0.6);
    }

</style>

<div class="body">
    <div class="jumbotron col-md-auto">
        <h1> Our Story </h1>
        <p class="lead "> QrWaiter helps you to make your order much easier and faster so that you can have more time to chill and eat and enjoy the time with your fellow mates. The birth of the digital "QR-Waiter" began 2020 in the University of Cologne. During a master project we founded a start-up company. In the beginning we faced some challenges along with several problems solving ideas. The most difficult part of our foundation was to find a gap in the market.</p>
    </div>
    <div class="jumbotron col-md-auto">
        <p class="lead ">
            Do you know that, too? There are full restaurants and bars with long times of waiting and claimed owners. Why let clients wait for a menu card when they can still use a digital menu bar? You want to know how you can use them? It's very simple because QR-Waiter will help you. The application fills the gap of a waiter and takes orders during a rush hour. It helps you and your customers having a relaxed time in your location.
            If you want to be one of them, then become a part of the QR-Waiter-Universe now!.
        </p>
    </div>
</div>

