@{
    ViewBag.Title = "Home Page";
}
<style>
/*    body {
        background-image: url("../Images/woman-wearing-purple-shirt-holding-smartphone-white-sitting-826349.jpg");
        background-size: cover;
    }*/
    body {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Images/woman-wearing-purple-shirt-holding-smartphone-white-sitting-826349.jpg");
        background-size: cover;
    }
</style>

<div class="body">
    <div class="jumbotron col-md-3">
        <h1> Our Story </h1>
        <p class="lead "> QrWaiter helps you to make your order much easier and faster so that you can have more time to chill and eat and enjoy the time with your fellow mates. The birth of the digital "QR-Waiter" began 2020 in the University of Cologne. During a master project we founded a start-up company. In the beginning we faced some challenges along with several problems solving ideas. The most difficult part of our foundation was to find a gap in the market.</p>
    </div>
</div>

